<%- include('partials/header'); -%>


<h1>Home</h1>
<p><%= homeStartingContent %></p>
<h2>Posts</h2>
<% posts.forEach((post)=>{ %>
    <div class="post-border">
    <h3><%= post.title; %></h3>
    <p><%= post.body.substring(0,200); %> ...<a href="/posts/<%= post._id %>"> read the rest</a></p>
</div>
<%});%>

<%- include('partials/footer'); -%>